{% extends 'base.html' %} {% block content %}
<div class="container">
  <h2>로그인</h2>
  <form action="{% url 'accounts:signup' %}" method="POST">
    {% csrf_token %} {{ form.as_p }}
    <input type="text" name="username" placeholder="아이디를 입력해주세요" />
    <input type="text" name="password" placeholder="비밀번호를 입력해주세요" />
    <input type="text" name="password2" placeholder="비밀번호를 입력해주세요" />
    <button type="submit">회원가입</button>
    {% if error %}
    <div style="color: red">{{ error }}</div>
    {% endif %}
  </form>
</div>
{% endblock %}
