{% extends 'base.html' %} {% block content %} {% load static %}
<!-- css 파일 -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/main_page.css'%}"
/>

<!-- 코드 작성시, 아래 부분(script 태그 이전)은 전체 삭제하고 작성하세요 -->

<!----------------tip!---------------->
<!-- 상품 데이터베이스는 프로젝트에 넣어뒀어요 -->
<!-- 아래와 같은 형식으로 for문을 사용하여 작성하세요 -->

<!-- 데이터 사용 예시 -->
<div style="display: flex">
  {% for product in products %}
  <a href="product/{{product.id}}">
    <img src="{{product.image_url}}" style="width: 100px" />
    <p>{{product}}</p>
    <p>{{product.description}}</p>
    <p>{{product.origin_price}}원</p>
    <p>{{product.discount_rate}}%</p>
    <p>{{product.discount_price}}원</p>
  </a>
  {% endfor %}
</div>
<!-- 데이터 사용 예시 -->

<!-- js 파일 -->
<script src="{% static 'js/main/main_page.js'%}"></script>
{% endblock %}
